/*
Main colors: 

Background: #F9F8FE
Secondary color: #dc5e85
Grey light: #9a9898
Grey dark: #5f5d5d
dark purple: #8068b5



grey dark: #070439;
grey light: #84828E;

Progress colors:
#696ba0; 
#908ece;
#cac9f3;




*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f8fafb;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* === LOGIN PAGE === */

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/loginImage.png');
  background-size: cover;
  background-position: center;
}

.login-heading {
  color: #bcbaf9;
  font-weight: 700;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: 0.75rem 1.5rem;
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(1.1rem + 1.1rem * (2 / 3));
  padding-bottom: calc(1.1rem / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(1.1rem / 3);
  padding-bottom: calc(1.1rem / 3);
  font-size: 12px;
  color: #777;
}
/* ---- */

.home-section__image {
  background-image: url('/imagesHb.png');
  background-repeat: no-repeat;
  margin-top: 9rem;
  max-width: 90%;
}

.home-section__form {
  padding-top: 16rem;
}

.login-heading {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.home-section__card {
  border: none !important;
}

.form-label-group {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: 1.1rem 3rem;
  height: auto;
  border-radius: 2rem;
}

.btn-main {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
  background-image: linear-gradient(to right, #dfa4a7, #fde9c8);
  color: #ffffff;
  text-shadow: none;
  border: none;
}

.btn-main:hover {
  background: #e47194;
  color: #ffffff;
}

.home-section__form-error {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

i.icon.exclamation.circle {
  color: #dc5e85;
}

/*======================
      AUTH PAGE
=======================*/

.home-section__auth {
  color: #e47194;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.home-section__auth-wrapper {
  display: block;
  text-align: center;
}

.home-section__auth-box {
  font-size: 1.2rem;
  color: #777;
}

/*======================
      LANDING PAGE
=======================*/

.navbar {
  /* background: #ffffff; */
  /* box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1); */
}

.header__container {
  display: flex;
  justify-content: space-between;
  /* padding: 2rem 0; */
}

nav a {
  margin: 1.5em !important;
}

.header-links a:hover {
  color: #dc5e85;
}

.hvrcenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvrcenter:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ecf0f1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvrcenter:hover:before,
.hvrcenter:focus:before,
.hvrcenter:active:before {
  left: 0;
  right: 0;
}

.logo {
  visibility: visible;
}

.small-logo {
  display: none;
}

/*======================
      INTRO SECTION
=======================*/

.intro-sect__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.intro-text__heading {
  font-size: 3rem;
  font-family: 'Raleway';
  font-weight: 700;
}

.intro-img__box {
  flex-basis: 45%;
  order: 2;
  margin: 0 1.5em;
}

.intro-img__box img {
  max-width: 100%;
  max-height: 90%;
}

.intro-content__box {
  flex-basis: 45%;
  order: 1;
  margin: 0 1.5em;
}

.intro-signin__button {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
  width: 25%;
  background-image: linear-gradient(to right, #dfa4a7, #fde9c8);
  color: #ffffff;
  text-shadow: none;
  border: none;
}

.intro-signin__button:hover {
  background: #e47194;
  color: #ffffff;
}

/*======================
       CURVE SECTION
=======================*/

.curve-img-sect__container {
  display: flex;
}

.curve-img__box {
  background-image: url(../images/bg-curve-desktop.svg);
  width: 100%;
  height: 4rem;
  background-size: 100% 100%;
}

/*======================
       INFO SECTION
=======================*/

.info-section {
  background-color: #f9f8fe;
  padding-top: 10rem;
}
.info__container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f8fe;
}

.info-img__box {
  order: 1;
  flex-basis: 50%;
  margin: 0 1.5em;
}

.info-img__box img {
  max-width: 100%;
  max-height: 100%;
}

.info-content__box {
  flex-basis: 40%;
  order: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1.5em;
}

.info-content__box a,
.info-content__box a:active,
.info-content__box a:focus,
.info-content__box a:hover {
  color: #dc5e85;
}

.info-link__box {
  display: flex;
}

.info-link__text {
  display: inline-block;
  border-bottom: 1px solid #dc5e85;
}

.info-link__arrow {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.info-sect__arrow {
  width: 1.5rem;
}

.info-text__heading {
  width: 100%;
  font-size: 3rem;
  font-family: 'Raleway';
}

/*======================
     REVIEW SECTION
=======================*/

.review-sect__container {
  background-color: #f9f8fe;
}

.review-sect__image {
  border-radius: 50%;
  height: 3.7rem;
  float: left;
  margin: 1.5% 3% 0 0;
}

.review-sect__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  border-radius: 2%;
  text-align: left;
  font-size: 1.4rem;
  background-color: #ffffff;
  padding: 3rem 2rem 2rem 2rem;
  margin: 1.66%;
  border-radius: 1rem;
}

.review-sect__box {
  padding: 10rem 0;
  position: relative;
}

.review-sect__name {
  font-size: 1.1rem;
  margin-top: 2.3rem;
}

.review-sect__title {
  font-size: 0.8rem;
  margin-top: -1rem;
}

.review-sect__quotes {
  margin: 1% 0 10%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  position: relative;
}

/*======================
     ACCESS SECTION
=======================*/

.access-sect__box {
  z-index: 1;
  position: relative;
  max-width: 700px;
  min-width: 300px;
  padding: 20px;
  min-height: 200px;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.access-sect__box h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.access-sect__box p {
  margin-bottom: 20px;
}

.access__button {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
  width: 30%;
  background-image: linear-gradient(to right, #dfa4a7, #fde9c8);
  color: #ffffff;
  text-shadow: none;
  border: none;
}

.access__button:hover {
  background: #e47194;
  color: #ffffff;
}

/*======================
     FOOTER SECTION
=======================*/

.footer-sect__logo {
  height: 30px;
}

.footer-sect__logo img {
  height: 100%;
  width: auto;
}

.footer-sect {
  z-index: 0;
  background-color: #575988;
  position: relative;
  padding: 150px 10% 20px 10%;
}

.footer-sect a {
  text-decoration: none;
  color: #ffffff;
}
.footer-sect__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.footer-sect__box section {
  flex: 1;
  width: 20%;
  min-width: 200px;
  padding: 15px;
}

.footer-sect__location {
  display: flex;
}

.footer-sect__location figure {
  margin-right: 20px;
  margin-top: 0;
}

.footer-sect__contact span {
  display: flex;
}

.footer-sect__contact span:first-child {
  margin-bottom: 20px;
}

.footer-sect__contact span img {
  margin-right: 20px;
}

.footer-sect__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-sect__links ul {
  list-style-type: none;
}

.footer-sect__social-media {
  display: flex;
  justify-content: center;
}

.links__main li:hover,
.links__secondary li:hover {
  color: antiquewhite;
  cursor: pointer;
}

.circle {
  width: 28px;
  height: 28px;
  margin-left: 15px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 2px 2px 8px 2px;
  text-align: center;
  cursor: pointer;
}

.circle:hover {
  background: linear-gradient(to right, #dfa4a7, #fde9c8);
  transition: 0.5s;
}

.circle img {
  height: 100%;
  width: auto;
}

/*======================
        QUIZ PAGE
=======================*/

.form-container {
  margin: 1rem 20rem;
  margin-bottom: 5rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem 5rem 3rem;
}

.top-margin {
  margin-top: 8rem;
}

.form__title {
  text-align: center;
  margin: 8rem 20rem 5rem;
}

.custom-select {
  padding: 0.8rem 3rem;
  height: auto;
  border-radius: 2rem;
}

.form-group__select {
  width: 100%;
}

.form-group__label {
  padding: 1rem 3rem;
}

.form__box {
  display: block !important;
  text-align: center;
  margin-top: 3rem;
}

.item {
  /* margin: 0 5rem; */
}

.form__button {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
  width: 25%;
  /* background-color: #dc5e85; */
  background-image: linear-gradient(to right, #dfa4a7, #fde9c8);
  color: #ffffff;
  text-shadow: none;
  border: none;
}

/*======================
      USER SUMMARY 
=======================*/

.user-panel__box {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin: 0 1.5em;
  /* width: 90%;
  margin: 0 auto; */
  /* background: #ffffff;
  padding: 2rem;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1); */
  background: #ffffff;
  padding: 2rem;
  border: 1px solid #e6eaee;
}

.user-panel__left {
  margin-right: auto;
}

.user-panel__user-image {
  height: 4.75rem;
  width: 4.65rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-panel__right {
  display: flex;
}

.user-panel__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 3rem;
  cursor: pointer;
  height: 100%;
}
.user-panel__item:last-child {
  padding-right: 0;
}

.user-panel__item-top {
  font-weight: 300;
  margin-bottom: 8px;
  color: #84828e;
}

.user-panel__item-bottom {
  font-size: 2rem;
  font-weight: 500;
  color: #070439;
}

.user-panel__user-name {
  color: #070439;
}

.user-summary_button-box {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 2rem;
  padding-left: 0;
}

.user-summary_button-summary {
  padding: 1.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 3rem;
  width: 15%;
  background-image: linear-gradient(to right, #dfa4a7, #fde9c8);
  color: #ffffff;
  text-shadow: none;
  border: none;
}

.fade-button {
  display: none;
}

.user-summary {
  display: block !important;
  margin: 0 1.5em;
}

.user-summary__top {
  display: flex;
  flex-direction: row;
}

.user-summary__title {
  font-size: 1.7rem;
}

.user-summary__close {
  margin-left: auto;
}

i.icon.close {
  color: darkgrey;
}

.user-summary__data {
  flex-direction: column;
  background: #ffffff;
  padding: 2rem;
  margin: 1.5rem 1.5em 0;
  border: 1px solid #e6eaee;
}

.user-summary__analysis {
  color: #84828e;
}

.user-summary-hide {
  transition: height 500ms 500ms, opacity 500ms 0ms;
  opacity: 0;
  height: 0px;
}

.fade-data {
  opacity: 1;
  transition: height 500ms 0ms, opacity 500ms 500ms;
}

.fade-data:after {
  content: '';
  clear: both;
}

.user-panel__item {
  padding: 0 1rem;
}

.user-summary__cards-box {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin: 0 0.5em;
}

.user-summary__card {
  padding: 15px;
}

.user-summary__card-title {
  font-size: 1.7rem;
}

.card-body {
  padding: 2rem;
}

/*======================
        PROGRESS
=======================*/
.user-summary__card-progress {
  width: 80%;
  margin: 0 auto;
}

/* =================================================== */
/* =================================================== */
/* =================================================== */

/* Small devices (landscape phones, 576px and up) - when screen will get to this point, use styles: */
@media (max-width: 576px) {
  /* LANDING PAGE */

  .intro-sect__container {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .intro-content__box {
    text-align: center;
    margin: 0;
  }

  .intro-img__box {
    padding: 1.5rem;
    order: 1;
    margin: 0;
  }
  .intro-img__box img {
    width: 100%;
  }

  .intro-text__heading {
    margin: 2rem;
  }

  .intro-signin__button {
    width: 45%;
  }

  .info__container {
    display: flex;
    flex-direction: column;
  }

  .info-img__box {
    padding: 1.5rem;
    order: 1;
  }

  .info-img__box {
    width: 100%;
    margin: 0;
  }

  .info-content__box {
    text-align: center;
    margin: 0;
  }

  .info-link__box {
    margin: 0 auto;
  }

  .review-sect__name {
    font-size: 1.2rem;
  }

  .review-sect__title {
    font-size: 0.9rem;
  }

  .review-sect__quotes {
    display: flex;
  }

  .review-sect__card {
    width: 100%;
    margin: 1rem 3rem;
  }

  .access-sect__box {
    max-width: 370px;
    min-width: 370px;
  }

  .access__button {
    width: 60%;
  }

  .footer-sect__logo {
    text-align: center;
  }

  .footer-sect__location {
    justify-content: center;
    margin-bottom: -2rem;
    letter-spacing: 0.1rem;
  }

  .footer-sect__location figure {
    margin-left: 0;
  }

  .footer-sect__contact span {
    justify-content: center;
    letter-spacing: 0.1rem;
  }

  .footer-sect__links {
    display: flex;
    flex-direction: column;
  }

  .links__main,
  .links__secondary {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
  }

  .links__main {
    margin-bottom: 2rem;
  }

  .links__main li,
  .links__secondary li {
    letter-spacing: 0.2rem;
  }

  .circle {
    margin: 1rem 2rem;
  }

  /* QUIZ PAGE */
  .form-container {
    margin: 0;
  }

  /* USER SUMMARY */
  .user-panel__left {
    display: flex;
    flex-direction: column;
  }

  .user-panel__item {
    padding: 0 2rem;
  }

  /* USER SUMMARY */

  .user-summary_button-box {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background: #ffffff;
    padding: 1.5rem;
    margin-top: 1.5rem;
    border: 1px solid #e6eaee;
  }

  .user-summary_button-summary {
    width: 35%;
    opacity: 1;
    transition: height 500ms 0ms, opacity 500ms 500ms;
  }

  .fade {
    transition: height 500ms 500ms, opacity 500ms 0ms;
    opacity: 0;
    height: 0px;
  }

  .user-panel__item {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  /* LANDING PAGE */
  .intro-sect__container {
    display: flex;
    flex-direction: column;
  }

  .intro-content__box {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }

  .intro-img__box {
    padding: 1.5rem;
    order: 1;
    margin: 0;
  }

  .intro-img__box img {
    width: 100%;
  }

  .intro-text__heading {
    margin: 2rem;
  }

  .intro-signin__button {
    width: 35%;
    margin: 1rem;
  }

  .info__container {
    display: flex;
    flex-direction: column;
  }

  .info-text__heading {
    margin: 2rem 0;
  }

  .info-link__box {
    padding: 1rem 0;
  }

  .info-img__box {
    order: 1;
    margin: 0;
  }

  .info-img__box {
    width: 100%;
  }

  .info-content__box {
    text-align: center;
    margin: 0;
  }

  .info-link__box {
    margin: 0 auto;
  }

  .access-sect__box {
    max-width: 520px;
    min-width: 520px;
  }

  .access__button {
    width: 40%;
  }

  .review-sect__quotes {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-sect__logo {
    text-align: center;
  }

  .footer-sect__contact {
    margin-bottom: 3rem;
  }

  .links__main {
    margin-left: 5rem;
  }

  /* QUIZ PAGE */
  .form-container {
    margin: 0;
  }

  /* USER SUMMARY */
  .user-panel__left {
    display: flex;
    flex-direction: column;
  }

  .user-panel__item {
    padding: 0 1rem;
  }
  .user-summary_button-summary {
    width: 35%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) and (min-width: 768px) {
  /* LANDING PAGE */
  .intro-content__box {
    margin: 0;
  }

  .intro-img__box {
    margin: 0;
  }

  .info-content__box {
    margin: 0;
  }

  .info-img__box {
    margin: 0;
  }

  .intro-signin__button {
    width: 40%;
  }

  .review-sect__quotes {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-sect__logo {
    text-align: center;
  }

  .footer-sect__location figure {
    margin-left: 0;
  }

  /* QUIZ PAGE */
  .form-container {
    margin: 0;
  }

  /* USER SUMMARY */
  .user-summary_button-summary {
    width: 25%;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  /* USER SUMMARY */
  .user-summary_button-summary {
    width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  /* LANDING PAGE */
  .intro-signin__button {
    width: 40%;
  }

  /* QUIZ PAGE */
  .form-container {
    margin: 0;
  }
}
